<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="footer-logo-text">
                    Школа практической психологии и медиации
                </div>
            </div>
            
            <div class="footer-links">
                <a href="{%url 'policy'%}">Политика конфиденциальности</a>
                <a href="{%url 'documents_official'%}">Документы</a>
            </div>
            
            <div class="footer-contact">
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <span>+7 (495) 123-45-67</span>
                </div>
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <span>info@psihotera.ru</span>
                </div>
            </div>

            
        </div>
        
    <div class="copyright">
            <p>© 2026 «Школа практической психологии и медиации». Все права защищены.</p>
        </div>
    </div>
</footer>