{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Письмо отправлено</title>

    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>

<body>

<main class="auth-page">

    <div class="auth-card auth-info">

        <div class="info-icon">
            ✉
        </div>

        <h1>Письмо отправлено</h1>

        <p class="auth-description">
            Если аккаунт с таким email существует,
            мы отправили на него ссылку для смены пароля.
        </p>

        <a
            href="{% url 'login' %}"
            class="auth-link"
        >
            Вернуться ко входу
        </a>

    </div>

</main>

</body>
</html>